.ErgebnisContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 0 60px;
}

.pflanzenBild {
  max-width: 80%;
  height: auto;
}

.ergebnisText {
  text-align: center;
}

.ergebnisSpeichernButton {
  margin-left: 60px;
  margin-right: 60px;
}