<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datenbankseite</ion-title>
    <ion-button (click)="alleEintraegeLoeschen()" color="danger" slot="end"
      >Alle löschen</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let eintrag of datenbankEintraege | async">
      <ion-card>
        <div class="bildContainer">
          <img
            class="pflanzenBild"
            [src]="eintrag.plantImagePath"
            [alt]="eintrag.plantImageAltText"
          />
        </div>
        <ion-card-header>
          <ion-card-title
            >{{eintrag.plantImageTypeText}} braucht {{eintrag.ergebnisInMl}}
            ML/Woche</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <p>Pflanzenart: {{eintrag.pflanzenartFormatiert}}</p>
          <p>Größe der Pflanze in cm: {{eintrag.pflanzengroesseInCm}}</p>
          <p>Licht: {{eintrag.lichtFormatiert}}</p>
          <p>Boden: {{eintrag.bodenFormatiert}}</p>
          <p>Jahreszeit: {{eintrag.jahreszeitFormatiert}}</p>
          <p>Datum: {{eintrag.datum | date:'dd.MM.yyyy HH:mm'}}</p>
          <p>Kommentar: {{eintrag.kommentar}}</p>
          <ion-button color="danger" (click)="eintragLoeschen(eintrag)"
            >Löschen</ion-button
          >
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
