<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

      <ion-item>
      <ion-select label="Planzenart" placeholder="wähle die Planzenart aus" [(ngModel)]="_planzenartEingabe">
        <ion-select-option value="Kakteen">Kakteen</ion-select-option>
        <ion-select-option value="Sukkulenten">Sukkulenten</ion-select-option>
        <ion-select-option value="normale Zimmerpflanzen">normale Zimmerpflanzen</ion-select-option>
        <ion-select-option value="tropische Pflanzen">tropische Pflanzen</ion-select-option>
        
    </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Topf Volumen in Litern" type="number" [(ngModel)]="_topfVolumenEingabe" placeholder="Gib das Topfvolumen ein">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="start" label="Licht" [ticks]="true" [snaps]="true" [min]="0" [max]="4" pin="true" [(ngModel)]="_lichtEingabe" [pinFormatter]="pinFormatterLicht">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="start" label="temp" [ticks]="true" [snaps]="true" [min]="0" [max]="4" pin="true" [(ngModel)]="_temperaturEingabe" [pinFormatter]="pinFormatterTemp">
            <ion-icon slot="start" name="thermometer"></ion-icon>
            <ion-icon slot="end" name="thermometer-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="start" label="boden" [ticks]="true" [snaps]="true" [min]="0" [max]="4" pin="true" [(ngModel)]="_bodenEingabe" [pinFormatter]="pinFormatterBoden">
            <ion-icon slot="start" name="leaf"></ion-icon>
            <ion-icon slot="end" name="leaf-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="start" label="klima" [ticks]="true" [snaps]="true" [min]="0" [max]="4" pin="true" [(ngModel)]="_klimaEingabe" [pinFormatter]="pinFormatterKlima">
            <ion-icon slot="start" name="water"></ion-icon>
            <ion-icon slot="end" name="sunny-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-button (click)="onBerechnungButton()">Berechnen</ion-button>
      </ion-item>

  </ion-list>

</ion-content>
